
<section class="container about" style="margin-top: 100px;margin-bottom: 100px;">
  <h2 class="subtitle">¿Qué aprenderás con nosotros?</h2>
  <p class="about__paragraph">Todo lo necesario y obligatorio para poder llegar a tu cuerpo ideal... dieta, rutina de ejercicios y seguimiento.</p>

  <div class="about__main">

      <article class="about__icons" *ngFor="let about of datosAbout">
          <img [src]="about.img" class="about__icon">
          <h3 class="about__title">{{about.title}}</h3>
          <p class="about__paragrah">{{about.text}}</p>
      </article>

  </div>
</section>

<section class="knowledge" id="quienes somos">
            <div class="knowledge__container container">
                <div class="knowledege__texts">
                    <h2 class="subtitle">{{datosAboutUs.title}}</h2>
                    <p class="knowledge__paragraph">{{datosAboutUs.text}}</p>
                    <a href="https://www.instagram.com/alanschmidt6075/" class="cta">{{datosAboutUs.button}}</a>
                </div>

                <figure class="knowledge__picture">
                    <img src="./assets/img/aboutme.jpeg" class="knowledge__img">
                </figure>
            </div>
</section>

