<footer class="footer">
    <section class="footer__container container">
        <nav class="nav nav--footer">
            <h2 class="footer__title">Athlete Squad</h2>

            <ul class="nav__link nav__link--footer">
                <li class="nav__items">
                    <a href="#" class="nav__links">Inicio</a>
                </li>
                <li class="nav__items">
                    <a href="#quienes somos" class="nav__links">Quienes somos?</a>
                </li>
                <li class="nav__items">
                    <a href="#planes" class="nav__links">Planes</a>
                </li>
                <li class="nav__items">
                    <a href="#clientes" class="nav__links">Clientes</a>
                </li>
                <li class="nav__items">
                    <a href="#preguntas" class="nav__links">Preguntas</a>
                </li>
            </ul>
        </nav>

        <form class="footer__form" action="https://formspree.io/f/mknkkrkj" method="POST">
            <h5 class="footer__newsletter">Siguenos</h5>
            <div class="footer__inputs">
                <a href="https://www.instagram.com/athlete_squad1/" class="footer__icons"><img src="./assets/img/instagram.svg" class="footer__img"></a>
                <a href="https://www.youtube.com/channel/UC2rEWFbceXJEJL9ZUzxzkdQ" class="footer__icons"><img src="./assets/img/youtube.svg" class="footer__img"></a>
            </div>
        </form>
    </section>

    <section class="footer__copy container">
        <div class="footer__social">
            <a href="https://portfoliowaldemar.netlify.app/profile" class="footer__icons"><i class="bi bi-browser-chrome"></i></a>

            <a style="margin-left: 15px;" href="" class="footer__icons"><i class="bi bi-linkedin"></i></a>
            
        </div>

        <h6 class="footer__copyright">Derechos reservados &copy; Waldemar Galizzi</h6>
    </section>
</footer>