<section class="testimony pt-3" id="clientes" >
    <div class="testimony__container container">
        <img src="./assets/img/left-arrow.svg" class="testimony__arrow1" id="before">

        <section class="testimony__body testimony__body--show" data-id="1">
            <div class="testimony__texts">
                <h2 class="subtitle">Mi nombre es Ulises Padilla, <span class="testimony__course">Jugador profesional Pelota-Paleta.</span></h2>
                <p class="testimony__review">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut est
                    esse, asperiores eaque totam nulla repudiandae quasi, deserunt culpa exercitationem
                    blanditiis laborum veniam laboriosam saepe reiciendis dolorem. Cum, ratione voluptatum!</p>
            </div>

            <figure class="testimony__picture">
                <img src="./assets/img/ivanchavez.jpg" class="testimony__img">
            </figure>
        </section>

        <section class="testimony__body" data-id="2">
            <div class="testimony__texts">
                <h2 class="subtitle">Mi nombre es Ivan Chavez, <span class="testimony__course">Arquero en Patronato.</span></h2>
                <p class="testimony__review">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut est
                    esse, asperiores eaque laborum veniam laboriosam saepe reiciendis dolorem. Cum, ratione
                    voluptatum!</p>
            </div>

            <figure class="testimony__picture">
                <img src="./assets/img/facu goro.jpg" class="testimony__img">
            </figure>
        </section>

        <section class="testimony__body" data-id="3">
            <div class="testimony__texts">
                <h2 class="subtitle">Mi nombre es Facundo Goro, <span class="testimony__course">Jugador profesional de Lol</span></h2>
                <p class="testimony__review">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut est
                    esse, niam laboriosam saepe reiciendis dolorem. Cum, ratione voluptatum!</p>
            </div>

            <figure class="testimony__picture">
                <img src="./assets/img/facu goro.jpg" class="testimony__img">
            </figure>
        </section>



        <img src="./assets/img/right-arrow.svg" class="testimony__arrow" id="next">
    </div>
</section>
