<section class="price container mt-5 mb-5" id="planes">
    <h2 class="subtitle" >Obten el plan perfecto para aprender</h2>

    <div class="price__table">
        <div class="price__element">
            <p class="price__name">Bronze</p>
            <h3 class="price__price">Free</h3>

            <div class="price__items">
                <p class="price__features">Rutina simple</p>
                <p class="price__features">Sin guía alimentación</p>
                <p class="price__features">Sin seguimiento</p>
            </div>

            <a href="#" class="price__cta">Empieza ahora</a>
        </div>


        <div class="price__element price__element--best">
            <p class="price__name">Silver</p>
            <h3 class="price__price">$3000/mes</h3>

            <div class="price__items">
                <p class="price__features">Rutina generica</p>
                <p class="price__features">Guía alimentación</p>
                <p class="price__features">Seguimiento mensual</p>
            </div>

            <a href="#" class="price__cta">Empieza ahora</a>
        </div>


        <div class="price__element">
            <p class="price__name">Gold</p>
            <h3 class="price__price">$4000/mes</h3>

            <div class="price__items">
                <p class="price__features">Rutina personalizada</p>
                <p class="price__features">Guía alimentación</p>
                <p class="price__features">Seguimiento semanal</p>
            </div>

            <a href="#" class="price__cta">Empieza ahora</a>
        </div>


    </div>
</section>