<section class="questions container mb-5 mt-5" id="preguntas">
    <h2 class="subtitle">Preguntas frecuentes</h2>
    <p class="questions__paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea, porro
        doloribus neque perspiciatis sapiente fuga.</p>

    <section class="questions__container">
        <article class="questions__padding">
            <div class="questions__answer">
                <h3 class="questions__title">¿Necesito llevar una dieta sana?
                    <span class="questions__arrow">
                        <img src="./assets/img/arrowdown.svg" class="questions__img">
                    </span>
                </h3>

                <p class="questions__show">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos
                    facere, quidem eum id excepturi assumenda explicabo nam accusamus veritatis voluptates
                    eveniet adipisci, dicta nihil nemo modi possimus officiis quam atque? Lorem ipsum, dolor sit
                    amet consectetur adipisicing elit. Quos facere, quidem eum id excepturi assumenda explicabo
                    nam accusamus veritatis voluptates eveniet adipisci, dicta nihil nemo modi possimus officiis
                    quam atque?</p>
            </div>
        </article>

        <article class="questions__padding">
            <div class="questions__answer">
                <h3 class="questions__title">¿Puedo entrenar en casa?
                    <span class="questions__arrow">
                        <img src="./assets/img/arrowdown.svg" class="questions__img">
                    </span>
                </h3>

                <p class="questions__show">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos
                    facere, quidem eum id excepturi assumenda explicabo nam accusamus veritatis voluptates
                    eveniet adipisci, dicta nihil nemo modi possimus officiis quam atque? Lorem ipsum, dolor sit
                    amet consectetur adipisicing elit. Quos facere, quidem eum id excepturi assumenda explicabo
                    nam accusamus veritatis voluptates eveniet adipisci, dicta nihil nemo modi possimus officiis
                    quam atque?</p>
            </div>
        </article>

        <article class="questions__padding">
            <div class="questions__answer">
                <h3 class="questions__title">¿Debo hacer musculación?
                    <span class="questions__arrow">
                        <img src="./assets/img/arrowdown.svg" class="questions__img">
                    </span>
                </h3>

                <p class="questions__show">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos
                    facere, quidem eum id excepturi assumenda explicabo nam accusamus veritatis voluptates
                    eveniet adipisci, dicta nihil nemo modi possimus officiis quam atque? Lorem ipsum, dolor sit
                    amet consectetur adipisicing elit. Quos facere, quidem eum id excepturi assumenda explicabo
                    nam accusamus veritatis voluptates eveniet adipisci, dicta nihil nemo modi possimus officiis
                    quam atque?</p>
            </div>
        </article>
    </section>

    <section class="questions__offer">
        <h2 class="subtitle">¿Estas listo para ponerte como un toro?</h2>
        <p class="questions__copy">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet ratione
            architecto magnam, officiis ex porro vero est voluptates quaerat quibusdam illo veniam reprehenderit
            eius atque tempora iure ab non autem.</p>
        <a href="#" class="cta">Aprende ahora</a>
    </section>
</section>