<div style="background-color: black;">
    <nav class="nav container">
        <div class="nav__logo">
            <h2 class="nav__title">Athlete Squad</h2>
        </div>

        <ul class="nav__link nav__link--menu">
            <li class="nav__items">
                <a href="#" class="nav__links">Inicio</a>
            </li>
            <li class="nav__items">
                <a routerLink="/ejercicio" class="nav__links">Ejercicios</a>
            </li>
            <li class="nav__items">
                <a href="#quienes somos" class="nav__links">Quienes somos?</a>
            </li>
            <li class="nav__items">
                <a href="#planes" class="nav__links">Planes</a>
            </li>
            <li class="nav__items">
                <a href="#clientes" class="nav__links">Clientes</a>
            </li>
            <li class="nav__items">
                <a href="#preguntas" class="nav__links">Preguntas</a>
            </li>

            <img src="./assets/img/close.svg" class="nav__close">
        </ul>

        <div class="nav__menu">
            <img src="./assets/img/menu.svg" class="nav__img">
        </div>
    </nav>
</div>

<section class="gallery" id="portafolio" style="margin-top: 50px;margin-bottom: 50px;">
    <div class="contenedor">
        <h2 class="subtitulo text-center">Tren superior</h2>
        <div class="contenedor-galeria">
            <img src="./assets/img/ivanchavez.jpg" alt="" class="img-galeria">
            <img src="./assets/img/ivanchavez.jpg" alt="" class="img-galeria">
            <img src="./assets/img/ivanchavez.jpg" alt="" class="img-galeria">
        </div>
    </div>
</section>

<section class="gallery" id="portafolio" style="margin-top: 50px;margin-bottom: 50px;background-color:#e5e5f7;padding: 20px 0 20px 0;">
    <div class="contenedor">
        <h2 class="subtitulo text-center">Zona media</h2>
        <div class="contenedor-galeria">
            <img src="./assets/img/ivanchavez.jpg" alt="" class="img-galeria">
            <img src="./assets/img/ivanchavez.jpg" alt="" class="img-galeria">
            <img src="./assets/img/ivanchavez.jpg" alt="" class="img-galeria">
            
        </div>
    </div>
</section>

<section class="gallery" id="portafolio" style="margin-top: 50px;margin-bottom: 50px;">
    <div class="contenedor">
        <h2 class="subtitulo text-center">Tren inferior</h2>
        <div class="contenedor-galeria">
            <img src="./assets/img/ivanchavez.jpg" alt="" class="img-galeria">
            <img src="./assets/img/ivanchavez.jpg" alt="" class="img-galeria">
            <img src="./assets/img/ivanchavez.jpg" alt="" class="img-galeria">
            
        </div>
    </div>
</section>

<app-footer></app-footer>