<div style="background-color: black;">
    <nav class="nav container">
        <div class="nav__logo">
            <h2 class="nav__title">Athlete Squad</h2>
        </div>

        <ul class="nav__link nav__link--menu">
            <li class="nav__items">
                <a href="#" class="nav__links">Inicio</a>
            </li>
            <li class="nav__items">
                <a routerLink="/ejercicio" class="nav__links">Ejercicios</a>
            </li>
            <li class="nav__items">
                <a href="#quienes somos" class="nav__links">Quienes somos?</a>
            </li>
            <li class="nav__items">
                <a href="#planes" class="nav__links">Planes</a>
            </li>
            <li class="nav__items">
                <a href="#clientes" class="nav__links">Clientes</a>
            </li>
            <li class="nav__items">
                <a href="#preguntas" class="nav__links">Preguntas</a>
            </li>

            <img src="./assets/img/close.svg" class="nav__close">
        </ul>

        <div class="nav__menu">
            <img src="./assets/img/menu.svg" class="nav__img">
        </div>
    </nav>
</div>

<section class="gallery" id="portafolio" style="margin-top: 50px;margin-bottom: 50px;">
    <div class="contenedor">
        <h2 class="subtitulo text-center">Tren superior</h2>
        <div class="container text-center">

            <div class="row">

              <div class="col">
                <a href="https://www.youtube.com/watch?v=OqYde8XAru0&list=PLcdlcKGDS1ZeVf3UKiUht3IE3r2BjvxOu">
                  <div class="card text-bg-dark">
                    <img src="./assets/img/grupo-musculares/hombro.jpg" class="card-img" alt="..." style="height:200px;">
                    <div class="card-img-overlay bg-dark bg-opacity-50">
                      <h3 class="position-absolute top-50 start-50 translate-middle">Hombro</h3>
                      <p class="card-text"></p>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col">
                <a href="https://www.youtube.com/watch?v=RZ7WciX1aTc&list=PLcdlcKGDS1ZcDRniXHwyAxBKBkxqw3Jan" class="">
                  <div class="card text-bg-dark">
                    <img src="./assets/img/grupo-musculares/biceps.webp" class="card-img" alt="..." style="height:200px;">
                    <div class="card-img-overlay bg-dark bg-opacity-50">
                      <h3 class="position-absolute top-50 start-50 translate-middle">Bicep</h3>
                      <p class="card-text"></p>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col">
                <a href="" class="">
                  <div class="card text-bg-dark">
                    <img src="./assets/img/grupo-musculares/triceps.webp" class="card-img" alt="..." style="height:200px;">
                    <div class="card-img-overlay bg-dark bg-opacity-50">
                      <h3 class="position-absolute top-50 start-50 translate-middle">Tricep</h3>
                      <p class="card-text"></p>
                    </div>
                  </div>
                </a>
              </div>

            </div>

        </div>
    </div>
</section>

<section class="gallery" id="portafolio" style="margin-top: 50px;margin-bottom: 50px;background-color:#e5e5f7;padding: 20px 0 40px 0;">
    <div class="contenedor">
        <h2 class="subtitulo text-center">Zona media</h2>
        <div class="container text-center">

            <div class="row">

              <div class="col">
                <a href="" class="">
                  <div class="card text-bg-dark">
                    <img src="./assets/img/grupo-musculares/espalda.jpg" class="card-img" alt="..." style="height:200px;">
                    <div class="card-img-overlay bg-dark bg-opacity-50">
                      <h3 class="position-absolute top-50 start-50 translate-middle">Espalda</h3>
                      <p class="card-text"></p>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col">
                <a href="" class="">
                  <div class="card text-bg-dark">
                    <img src="./assets/img/grupo-musculares/pectorales.jpg" class="card-img" alt="..." style="height:200px;">
                    <div class="card-img-overlay bg-dark bg-opacity-50">
                      <h3 class="position-absolute top-50 start-50 translate-middle">Pectorales</h3>
                      <p class="card-text"></p>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col">
                <a href="" class="">
                  <div class="card text-bg-dark">
                    <img src="./assets/img/grupo-musculares/abdomen.jpg" class="card-img" alt="..." style="height:200px;">
                    <div class="card-img-overlay bg-dark bg-opacity-50">
                      <h3 class="position-absolute top-50 start-50 translate-middle">Abdomen</h3>
                      <p class="card-text"></p>
                    </div>
                  </div>
                </a>
              </div>

            </div>

        </div>
    </div>
</section>

<section class="gallery" id="portafolio" style="margin-top: 50px;margin-bottom: 50px;">
    <div class="contenedor">
        <h2 class="subtitulo text-center">Tren inferior</h2>
        <div class="container text-center">

            <div class="row">

              <div class="col">
                <a href="" class="">
                  <div class="card text-bg-dark">
                    <img src="./assets/img/grupo-musculares/cuadriceps.jpg" class="card-img" alt="..." style="height:200px;">
                    <div class="card-img-overlay bg-dark bg-opacity-50">
                      <h3 class="position-absolute top-50 start-50 translate-middle">Cuadriceps</h3>
                      <p class="card-text"></p>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col">
                <a href="" class="">
                  <div class="card text-bg-dark">
                    <img src="./assets/img/grupo-musculares/isquios.jpg" class="card-img" alt="..." style="height:200px;">
                    <div class="card-img-overlay bg-dark bg-opacity-50">
                      <h3 class="position-absolute top-50 start-50 translate-middle">Isquios</h3>
                      <p class="card-text"></p>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col">
                <a href="" class="">
                  <div class="card text-bg-dark">
                    <img src="./assets/img/grupo-musculares/gluteos.jpg" class="card-img" alt="..." style="height:200px;">
                    <div class="card-img-overlay bg-dark bg-opacity-50">
                      <h3 class="position-absolute top-50 start-50 translate-middle">Gluteos</h3>
                      <p class="card-text"></p>
                    </div>
                  </div>
                </a>
              </div>

            </div>

        </div>
    </div>
</section>

<app-footer></app-footer>