<header class="hero">
  <nav class="nav container">
      <div class="nav__logo">
          <h2 class="nav__title">Athlete Squad</h2>
      </div>

      <ul class="nav__link nav__link--menu">
          <li class="nav__items">
              <a routerLink="/ejercicio" class="nav__links">Ejercicios</a>
          </li>
          <li class="nav__items">
              <a href="#quienes somos" class="nav__links">Quienes somos?</a>
          </li>
          <li class="nav__items">
              <a href="#planes" class="nav__links">Planes</a>
          </li>
          <li class="nav__items">
              <a href="#clientes" class="nav__links">Clientes</a>
          </li>
          <li class="nav__items">
              <a href="#preguntas" class="nav__links">Preguntas</a>
          </li>

          <img src="./assets/img/close.svg" class="nav__close">
      </ul>

      <div class="nav__menu">
          <img src="./assets/img/menu.svg" class="nav__img">
      </div>
  </nav>

  <section class="hero__container container">
      <h1 class="hero__title">{{datosNav.frase}}</h1>
      <p class="hero__paragraph">{{datosNav.frase1}}</p>
      <a href="#" class="cta">{{datosNav.button}}</a>
  </section>

  
</header>
